.taskForm-enter {
  opacity: 0;
  transform: translateY(100px);
}
.taskForm-enter-active {
  opacity: 1;
  transform: translateY(0px);
  transition: 1000ms ease-in;
}
.taskForm-exit {
  transform: translateY(0px);
  opacity: 1;
}
.taskForm-exit-active {
  opacity: 0;
  transform: translateY(100px);
  transition: 200ms ease-in;
}
